{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <!-- Кнопка "Назад" -->
    <div class="mb-4">
        <a href="{% url "main:dashboard_view" %}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i>
        </a>
    </div>
    <h2 class="text-center mb-4">{{ title }}</h2>
    {{ form.media }}
    <form action="{{ request.path }}" method="post" class="mx-auto" style="max-width: 500px;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_amount" class="form-label form-stylereg">Amount</label>
            <input type="text" class="form-control form-stylereg" id="id_amount"
            value="{% if form.amount.value %}{{ form.amount.value }}{% endif %}"
            name="amount" placeholder="Your Amount" required>
        </div>
        <div class="mb-3">
            <label for="{{ form.category.id_for_label }}" class="form-label">Category</label>
            {{ form.category }}
        </div>
        <div class="mb-3">
            <label for="{{ form.date.id_for_label }}" class="form-label">Date</label>
            {{ form.date }}
        </div>
        <div class="mb-3">
            <label for="{{ form.note.id_for_label }}" class="form-label">Комментарий</label>
            <input type="text" class="form-control form-stylereg" id="id_note"
            value="{% if form.note.value %}{{ form.note.value }}{% endif %}"
            name="note" placeholder="Your Note">
        </div>
        <button type="submit" class="btn btn-primary w-100">Сохранить</button>
    </form>
</div>
{% endblock content %}

