{% extends 'main/base.html' %}

{% block content %}
<div class="container d-flex justify-content-between align-items-center mb-4">
    <a href="javascript:history.back()" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i>
    </a>
    <h2 class="text-center flex-grow-1 m-0">{{ type|capfirst }} по месяцам</h2>
</div>
<div class="d-flex justify-content-center mb-5">
    <div class="card shadow-sm text-center" style="min-width: 300px;">
        <div class="card-body">
            <h5 class="card-title text-muted">Ваши {{ type }}ы в среднем за месяц</h5>
            <p class="fs-4 fw-bold text-success m-0">{{ avg_year }} ₸</p>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <canvas id="monthlyChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('monthlyChart');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Сумма дохода по месяцам',
                    data: {{ data|safe }},
                    backgroundColor: 'rgba(75, 192, 192, 0.6)'
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 100000
                        }
                    }
                }
            }
        });
    </script>
    </div>
{% endblock content %}